{% extends 'base.html.twig' %}

{% block title %}Complément Linguistique pour l’Insertion Professionnelle{% endblock %}

{% block body %}

<div class="container">
	<div class="row justify-content-center">
		<div class="titre p-3 mt-5">
			<h3 class="autTitre">Complément Linguistique pour l’Insertion Professionnelle</h3>
		</div>

		<div class="col-lg-9 col-md-12 col-sm-12">
            <div class="mt-3">
                <p class="complementp">Ce sont des ateliers de renforcement linguistique pour toute personne s'inscrivant dans une dynamique d'insertion professionnelle dont le niveau de maîtrise de la langue française reste insuffisant pour intégrer une formation ou trouver un emploi. Elle concerne les personnes ayant un niveau supérieur à une niveau A1.</p>
                {% for complement in complements %}
                
                <div class="card mt-3 border border-0 complementcard" id="{{complement.id}}">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #cc00cc;">{{complement.titre}}</h5>
                        <p class="card-text complementText">{{complement.description}}</p>
                        {% for image in complement.images %}
                        <a href="{{asset('images/complement/' ~ image)}}">
                            <img src="{{asset('images/complement/' ~ image)}}" height="150" class="mx-3 my-3 grid-item" alt="{{complement.id}}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            </div>
        </div>

		<div class="col-lg-3 col-md-12">
       {# NOS ACTIONS #}
        <div class="card mx-auto action" style="background-color: #ffccff">
            <div class="card-body">
                <h5 class="card-title sou-titre text-center"><strong>NOS ACTIONS</strong></h5>
                <p class="card-text">
                    <ul class="list-group">
                        <a href="{{path('autonomie')}}" class="text-decoration-none"><li class="list-group-item">Autonomie et Insertion Sociale</li></a>
                        <a href="{{path('complement')}}" class="text-decoration-none"><li class="list-group-item">Complément Linguistique pour l’Insertion Professionnelle</li></a>
                        <a href="{{path('delf')}}" class="text-decoration-none"><li class="list-group-item">Préparation au DELF</li></a>
                        <a href="{{path('mobilite')}}" class="text-decoration-none"><li class="list-group-item">Mobilité</li></a>
                        <a href="{{path('numerique')}}" class="text-decoration-none"><li class="list-group-item">Inclusion Numérique</li></a>
                        <a href="{{path('jardin')}}" class="text-decoration-none"><li class="list-group-item">Jardin Solidaire</li></a>
                        <a href="{{path('soutien')}}" class="text-decoration-none"><li class="list-group-item">Soutien aux familles et à la parentalité</li></a>
                    </ul>
                </p>
            </div>
        </div>

            {# TEMOIGNAGE #}
            <div class="mt-5">
                <div class="card mx-auto temoignage" style="background-color: #ffccff">
                    <div class="card-body">
                        <h2 class="card-title" style="color: #cc00cc"><i class="fa fa-comments" aria-hidden="true"></i></h2>
                        <p class="card-text fst-italic" style="font-size: 0.9em;">"  Les cours du CLIPI approfondissent mes connaissances et me donnent la possibilité d’utiliser ces acquis dans mon métier. [...] Je tiens surtout à souligner le travail des enseignants qui conduisent ces cours de français de différentes manières. Les leçons sont très intéressantes et nous permettent de voir le monde de différentes manières à travers la participation des autres apprenants qui ont des cultures différentes."</p>
                        <p> Solomiya</p>
                    </div>
                </div>
            </div>


            {# TEMOIGNAGE #}
            <div class="mt-5">
                <div class="card mx-auto temoignage" style="background-color: #ffccff">
                    <div class="card-body">
                        <h2 class="card-title" style="color: #cc00cc"><i class="fa fa-comments" aria-hidden="true"></i></h2>
                        <p class="card-text fst-italic" style="font-size: 0.9em;">" Les cours de théâtre m’ont permis d’améliorer ma prononciation grâce au jeu théâtral, d’apprendre de nouveaux mots, je parle plus facilement devant un public et je communique plus facilement avec les gens maintenant"</p>
                        <p>Mamadou</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>

{% include "footer/footer.html.twig" %}
{% endblock %}